<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> curriculum vitae </title>
</head>
<center><font color=blue><h1><i><b><u>Infomatics Engineer</u></b></i></h1></font></center>
<body bgcolor="Darkturquoise"><center>
<img src="IMG00038-20120128-0023.jpg"  height="15%" width="10%"></center></br>

<i><b>NOMBRE :</b></i><font color="blue"><b>Yender Jose</b></font></br>
<i><b>APELLIDO:</b></i><font color="blue"><b>Osorio Hernandez</b></font></br>
<i><b>EDAD:</b></i><font color="blue"><b>17 a침os</b></font></br>
<i><b>FECHA DE NACIMIENTO:</b></i><font color="blue"><b>17/12/2005</b></font></br>
<i><b>DIRECCION:</b></i><font color="blue"><b> Villa de Cura, Carrizallito.</b></font></br>
<i><b>TELEFONO CELULAR:</b></i><font color="blue"><b>04242135364</b></font></br>
<i><b>CORREO ELECTRONICO:</b></i><font color="blue"><b>yenderoso04@gmail.com</b></font></br>
<i><b>REDES SOCIALES:</b></i><font color="blue"><b> instagram ing_yenderoso</b></font></br>
<i><b>HABILIDADES:</b></i><font color="blue"><b></b></font></br>
<p>
<h3><i><b><u>ESTUDIOS REALIZADOS:</u></b></i></h3>
<p>
<i><b>PRIMARIA Y SECUNDARIA:</b></i><font color="blue"> <b> UEN Juan Antonio Padilla"(2018-2021)</b></font></br>
<i><b>SUPERIOR:</b></i><font color="blue"><b>Universidad Romulo Gallegos "Ingenieria de Sistemas"(2023-actualidad)</b></font></br>      
<p>
<h3><i><b><u>EXPERIENCIA LABORAL:</u></b></i></h3>
<font color="blue"><b> Ingeniero en sistemas con 4 a침os y medio de experiencia. 
  En mis empleos anteriores me he destacado por desarrollar soluciones de software 
  teniendo en cuenta el ciclo de vida del mismo. Adem치s, tengo conocimientos de programaci칩n y manejo avanzado del lenguaje C++></b></font>
</p>
</body>
</html>





